/AFNDtoAFD/nbproject/private/
/AFNDtoAFD/build/
/AFNDtoAFD/dist/
/PruebaCadenas/build/
/PruebaCadenas/dist/
/PruebaCadenas/nbproject/private/
/Turing/PruebaCadenas/nbproject/private/
/Turing/PruebaCadenas/build/
/Turing/PruebaCadenas/dist/